name: Testing - main

on:
  pull_request:
    branch: [main]

jobs:
  test:
    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          pip install -e .[tests]
      - name: pytest
        env:
          MPLBACKEND: "Agg"
          BEEP_ENV: "dev"
        run: |
          pytest beep --color=yes --cov=beep --cov-config=.coveragerc --cov-report html:coverage_reports
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github
